@import url("./demo_common.css");

/* Login */

.loginBox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 590px;
    height: 400px;
    margin: 50px auto !important;
}

.form-container {
    height: 100%;
}

.login-container {
    width: 100%;
    z-index: 2;
}

:where(.form-container) :where(h1, span, a, button) {
    margin: 10px 0 !important;
}

.form-container h1 {
    font-size: 32px;
}

.login-container input {
    margin: 3px 0;
    width: 80%;
}

.login-container button {
    width: 80%;
    font-size: 16px;
}

/* create account */

.createAccountBox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 860px;
    height: auto;
    margin: 50px auto !important;
    padding: 10px 0;
}

.createAccount-container {
    width: 100%;
    z-index: 2;
}

.createAccount-container input {
    width: 100%;
}

.form_list {
    border: 1px solid #ddd;
    margin: 10px !important;
    border-radius: 5px;
    width: 80%;
}

.form_list > div.form_item {
    margin: 0;
}

.form_item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 15px 12px;
}

.form_item > input {
    background-color: transparent;
    padding: 0 10px;
    font-size: 14px;
}

#divPasswd,
#divPhoneNo {
    border-bottom: none;
}

.form_item.check_box {
    display: block;
    padding: 15px;
    border: 0;
}

.form_item.form_item.check_box input[type="checkbox"] {
    margin: 10px 7px 0 0;
    width: 15px;
    transform: scale(1.2);
}

.form_item.check_box label[for="chk_agree"] {
    position: relative;
    top: -3.5px;
}

.createAccount-container button {
    width: 80%;
    font-size: 16px;
}

/* input 앞에 fontawesome 붙이기 */

.form_item.user::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/member/user1.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 99;
}

.form_item.lock::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/member/lock.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 99;
}

.form_item.biz::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/member/biz.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 99;
}

.form_item.bizDetail::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/member/bizDetail.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 99;
}

.form_item.email::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/member/email.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 99;
}

.form_item.phone::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/member/mobile.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 99;
}
