#work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
#work p {
    text-align: center;
    padding: 20px;
}

#work-each {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
    gap: 20px;
}
#work-each h2 {
    display: block;
}

/* 팀 멤버 카드 스타일 */
.work-each {
    width: 40%;
    /* flex: 0 1 calc(60% - 10px); */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* flex: 1; */
    /* max-width: 300px; */
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.work-each:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.work-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #ddd;
}
