* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	/* font-family: "Noto Sans KR", sans-serif; */
	/* font-family: "Manjari", sans-serif; */
	font-family: "montserrat", sans-serif;
	font-size: 14px;
	/* color: #5c5d5e; */
}

a {
	text-decoration: none;
	cursor: pointer;
	color: unset;
}

button {
	padding: 8px 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #333;
}
button.detail-btn {
	background: #c7f8f5 !important;
	color: #19c5bb !important;
	border: none !important;
	margin-left: 5px;
}
button.mint {
	background: #c7f8f5 !important;
	color: #19c5bb !important;
	border: none !important;
}

button.blue {
	background: #e1f1ff !important;
	color: #4c91d7 !important;
	border: none !important;
}

button.red {
	background: #fee3e5 !important;
	color: #f44d5f !important;
	border: none !important;
}

.blind {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 90;
	display: none;
}
/* button:hover {
	background-color: var(--primary-color);
	color: #fff;
} */

:root {
	--background-color: #e2f0fa;
	--text-color: #333333;
	--primary-color: #181c32;
	--success-color: #28a745;
	--danger-color: #dc3545;
	--secondary-color: #6c757d;
	--background-color-navy: #181c32;
}

ul,
li {
	list-style: none;
}

/******************** Menu Toggle ********************/

.menu-toggle {
	display: none;
	height: 100%;
}
.menu-toggle span {
	background-color: #fff;
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px 0;
	transition: all 0.3s ease-in-out;
}

.hamburger-menu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--background-color-navy);
	padding: 10px;
}

.hamburger-menu li {
	padding: 10px;
	cursor: pointer;
}

.hamburger-menu li a {
	color: #fff;
	text-decoration: none;
	word-break: break-all;
}

/******************** Login ********************/

.body-login {
	background-color: #e2f0fa;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container-login {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
}

.container-login .logo {
	text-align: center;
	margin-bottom: 20px;
	color: red;
}
.login-form {
	display: flex;
	flex-direction: column;
}

.login-form input {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	width: 100%;
}

.remember-me {
	display: flex;
	flex-direction: row;
	align-items: top;
	margin-bottom: 15px;
}

.remember-me input {
	width: auto;
	margin-right: 5px;
}

.btn-login {
	padding: 10px;
	background-color: #181c32;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

/******************** font-awesome 아이콘 ********************/
.icon-magnifying-glass {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f002";
}

/******************** header ********************/

/* .header {
	background-color: var(--background-color);
	color: white;

	padding: 15px;
	text-align: center;
}
.header .logo {
	width: 20%;
} */

header {
	background-color: var(--primary-color);
	padding: 10px 0px;
	position: relative;
}
header .header-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	margin: 0;
	font-size: 24px;
}

.logo {
	width: 15vw;
	min-width: 200px;
	max-width: 300px;
}

.logo img {
	width: 100%;
}

/******************** container 1 - aside ********************/
.container {
	margin-left: 0 !important;
	padding-left: 0 !important;
	display: flex;
	/* height: calc(100% - 60px);
	max-height: 85%; */
	min-height: 1000px;
}

.sidebar {
	position: relative;
	width: 23%;
	background-color: #1f1c2f;
	padding: 0px;
	color: #989db0;
	font-size: 1em;
}

.sidebar > ul {
	list-style-type: none;
	padding: 10px 20px;
}

.sidebar li {
	/* margin: 10px 0; */
	/* padding: 20px 30px; */
	/* border-bottom: 1px solid #181c32; */
	cursor: pointer;
}

.sidebar li.logo {
	padding: 20px 0px;
	padding-bottom: 30px;
}
/* .sidebar > ul > li:hover,
.sidebar > ul > li.active {
	background-color: #a9aabc;
} */

.sidebar li i {
	/* float: right; */
	margin-top: 2px;
	margin-left: 5px;
}

/* sub-list */
.sub-list {
	display: none;
	padding-left: 30px;
}

.sub-list li {
	padding: 5px 0;
}

span.sub-list-toggle {
	width: 100%;
	display: block;
}
span.sub-list-toggle:hover {
	color: #fff;
}
span.sub-list-toggle.active {
	color: #fff;
}

/* sidebar > ul > li.nav-item */
.nav-item {
	margin-bottom: 20px;
}
.nav-item span {
	display: inline-block;
	margin-bottom: 15px;
}
/* .open 추가 */
.nav-item.open .sub-list {
	display: block;
}

.nav-item.open .sub-list-toggle i {
	transform: rotate(180deg);
}

/******************** container2 - main ********************/

.main-content-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.main-content {
	flex-grow: 1;
	padding: 40px;
	overflow-y: auto;
	padding: 1em;
	background: #e8e8f2;
}

.main-content > div {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
}

/* main-content 에서 flex 로 상하 분할 */
.main-content-top {
	/* display: flex; */

	width: 100%;
	padding: 20px;

	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main-content-top nav ul {
	display: flex;
	flex-direction: row;
}
.main-content-top nav ul li {
	padding: 10px 5px;
	color: #848993;
}

.main-content-top h3 {
	display: inline-block;
	color: #333;
}
.main-content-top h3 span {
	font-size: 0.7em;
	color: #b4b8bf;
}
.main-content-top nav svg {
	color: #4192df;
}
/* main-header */
.main-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 15px;
	background: none;
}

.main-header-firstLine {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
}
.main-header-firstLine h3 {
	display: inline-block;
	color: #3b3f47;
}
.main-header-firstLine h3 span {
	font-size: 0.7em;
	color: #b4b8bf;
}
.main-header-firstLine button {
	padding: 8px 15px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}
.main-header-firstLine button.add-user,
.save-user {
	background: #e1f1ff;
	color: #4c91d7;
	border: none;
}

.main-header-firstLine button.delete-user,
.cancel-user {
	background: #fee3e5;
	color: #f44d5f;
	border: none;
}
.main-header-firstLine button.download-user {
	background: #c7f8f5;
	color: #19c5bb;
	border: none;
	height: 2.5em;
}
.search-bar {
	/* margin-left: auto; */
	display: flex;
	align-items: center;
	width: 40%;
	height: 2.5em;
}

.search-bar select {
	font-size: 0.8em;
	width: 30%;
}
.search-bar select,
.search-bar input {
	border: 1px solid #eee;
	padding: 5px;
}

.search-button {
	margin-left: 10px;
	background: #e1f1ff !important;
	color: #4c91d7 !important;
	border: 1px solid #dfeefc !important;
}
::placeholder {
	color: #999;
	font-size: 0.9em;
}

/******************** form ********************/

/* table  */
.form-table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px;
}

textarea {
	border: none;
	width: 100%;
}
form th,
form td {
	/* form의 th, td 공통 */
	border: 1px solid #ddd;
	text-align: left;
	height: 3em;
	padding: 4px;
}
form th {
	font-weight: bold;
	padding-left: 10px;
	background: #f9f9f9;
}
form th.require {
	color: #4c91d7;
}

form td.userId_wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: none;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
form td.userId_wrap input {
	width: 60%;
}
.validate-userId {
	flex: none;
}
/* 커스텀 input type="file" */
/* form td.add-file {
	display: flex;
	align-items: center;
	border: none;
	border-right: 1px solid #ddd;
} */
/* 커스텀 input type file */

td.add-file .upload-name {
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle;
	border: 1px solid #f3f3f2;
	width: 30%;
	color: #6c716e;
}

td.add-file label {
	display: inline-block;
	padding: 8px 15px;
	margin-right: 0;
	border-radius: 5px;
	font-weight: bold;
	font-size: 0.9em;
	background: #c7f8f5;
	color: #19c5bb;
	cursor: pointer;
}

.classify-contents {
	min-width: 100px;
	background: none;
}

td.radio {
	display: flex;
	align-items: center;
	margin: 0 auto;

	border-top: none;
	border-left: none;
}
td.radio input {
	margin-right: 3px;
}

.form-select {
	width: 60%;
	font-size: 0.9em;
	padding: 8px 0px;
	border-radius: 5px;
	color: #6c716e;
}
form input {
	width: 60%;
	border: none;
	height: 100%;
}

.form-btn {
	margin-left: 5px;
}
/* input, select  */

select {
	border: 1px solid #ccc;
}
select option {
	font-size: 0.9em;
}

input[type="radio"] {
	display: inline-block;
	width: auto;
}

input#userId {
	display: inline-block;
	border: none;
	width: 60%;
	/* border: 1px solid red; */
}
label {
	/* margin-right: 5px; */
	vertical-align: middle;
}
td > label {
	margin-right: 5px;
}
label > span {
	vertical-align: middle;
}
input[type="radio"] {
	width: 1.1em;
	vertical-align: middle;
	margin: 0;
	margin-right: 0.2em;
}

/******************** 체크박스 스타일 변경 ********************/

/* 체크박스 - 기본 타입
input[type="checkbox"] {
	width: 18px;
	background: #ecedf4;
	border: none;
}
*/

/* 체스박스 컴스텀  --- 기본 체크박스는 display: none
<label>
	<input type="checkbox" class="display-none">
	<span class="custom-checkbox"></span>
</label>
*/

input.display-none {
	display: none;
}

.custom-checkbox {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #ecedf4;

	border-radius: 4px;
	position: relative;
	cursor: pointer;
}

/* 체크 박스 */
input[type="checkbox"]:checked + .custom-checkbox {
	background-color: #4caf50;
	border-color: #4caf50;
}

/* 체크 표시 */
.custom-checkbox:after {
	border: 1px soid red;
	content: "";
	position: absolute;
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}

input[type="checkbox"]:checked + .custom-checkbox:after {
	opacity: 1;
}

.btn-wrap {
	border: none;
	/*	cursor: pointer;*/
	display: flex;
	justify-content: flex-end;
}

/******************** list-table ********************/

.list-table {
	width: 100%;
	border-collapse: collapse;
}

.list-table th,
.list-table td {
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center;
	font-weight: normal;
}
.list-table td {
	font-size: 0.9em;
}

.list-table th {
	background-color: #f2f2f2;
}

.list-select {
	width: 30%;
	font-size: 0.9em;
	padding: 8px 0;
}

#item-list {
	margin-bottom: 20px;
}
.no_overflow {
	display: block;
	max-height: 2.7em;
	overflow: hidden;
	border: 0;
	text-align: left !important;
}

.item {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

#pagination {
	text-align: center;
	margin: 40px 0;
	/* font-size: 0.65rem; */
}

#pagination ul {
	list-style-type: none;
	padding: 0;
}

#pagination ul li {
	display: inline;
	margin: 0 1px;
	padding: 3px 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	background-color: #f0f0f0;
	color: #b5b5b8;
}
#pagination ul li.active {
	border-color: #888;
	color: #888 !important;
	font-weight: bold;
}
/******************** editor ********************/
/* froala  */
#editor {
	/* border: 1px solid #ccc; */
	min-height: 500px !important;
	background-color: #fff;
}

/* 하단 powered by froala 글자 삭제 */
#fr-logo {
	display: none !important;
}
.fr-quick-insert {
	display: none !important;
}

/* editor 내용 넣는 박스 */
.fr-box.fr-basic .fr-element {
	height: 500px;
}
.fr-box.fr-basic .fr-wrapper {
	border-bottom-color: #fff !important;
}

/******************** footer ********************/

.footer {
	color: var(--background-color);
	background-color: var(--primary-color);

	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
}

/********************	Template Form	****************/
.pop_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	max-height: 50vh;
	overflow: auto;
	background: #fff;
	z-index: 91;
	display: none;
}
.btn_pop_close {
	width: 100%;
	background: foreground;
	color: #000;
	top: 0;
	text-align: right;
	padding: 0 10px;
}
.btn_pop_close a {
	font-size: 2em;
	font-weight: 600;
}
.img_list {
	width: 100%;
	overflow: auto;
	display: flex;
	justify-content: center;
}
.img_list h5 {
	text-align: center;
	margin: 0;
}
.img_list div {
	width: 23.5%;
	float: left;
	text-align: center;
	margin: 0.5em 0.2em;
}
.img_list div > img {
	width: 95%;
	border-radius: 5px;
	opacity: 0.8;
}
.img_list div > img:hover {
	opacity: 1;
	cursor: pointer;
}
/* #tab > div:nth-of-type(1) {
	width: 100%;
	overflow: hidden;
} */
#tabs li > a {
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}
#tabs td {
	/* tabs 를 td로 나눈 상태라서 필요 */
	vertical-align: top;
}

/* tabs-2 : mobile_screen */
.mobile_screen {
	width: 100%;
	border-radius: 8px;
	min-height: 600px;
	text-align: left;
}
#tabs .mobile_screen td {
	vertical-align: middle;
}
.mobile_screen > div {
	width: 100%;
	border-radius: 8px;
	padding: 1em;
}
.mobile_screen img {
	width: 100%;
	border-radius: 8px;
}
.mobile_screen button {
	width: 100%;
	background: #f1f1f1;
	text-align: center;
	margin-top: 8px;
}

/* tabs-3 */
#tabs-3 input[type="button"] {
	width: 100%;
	border: 1px solid red;
}

/*	주소록 팝업	*/
.address_list {
	text-align: left;
}
.address_list td > label {
	margin-right: 0px;
}

.address_selected_wrap {
	min-height: 50px;
	max-height: 100px;
	margin-top: 10px;
	padding: 5px;
	padding-top: 0;
	padding-left: 0;
	border: 1px solid #ddd;
	overflow: overlay;
}
p.address_selected {
	text-align: left;
}
.address_selected span {
	border: 1px solid red;
	padding: 5px;
	margin: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline-block;

	/* search-btn 동일 속성 */
	background: #e1f1ff;
	color: #4c91d7;
	border: 1px solid #dfeefc;
	cursor: pointer;
	border-radius: 4px;
}

.address_list .list_table_wrap {
	max-height: 300px;
	overflow: overlay;
}
.address_list .btn_send_message {
	margin-top: 10px;
}
.address_list .btn_send_message > button {
	width: 48%;
	margin-left: 0;
}
.address_list .btn_send_message_type2 > button {
	width: auto;
	margin-top: 5px;
}
.address_list .btn_send_message_type2_big > button {
	margin-top: 5px;
}
.mobile_screen .search-bar {
	width: 100%;
	margin-bottom: 10px;
}
.mobile_screen button.search-button {
	width: auto;
}

/* tab - library */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #4c91d7;
	background: #4c91d7;
	font-weight: bold;
	color: #ffffff;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px 0.2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}

.ui-corner-top {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

@media (max-width: 1024px) {
	.sidebar {
		width: 150px;
	}

	.main-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.search-bar {
		margin-top: 10px;
	}
}

@media (max-width: 768px) {
	.form-table {
		font-size: 0.9em;
	}

	.main-header {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}
	.search-bar {
		width: 100%;
	}
	.form-select {
		width: 100%;
	}

	.search-input,
	.category-select,
	.search-button {
		margin-left: 0;
		margin-top: 5px;
	}

	/* Menu Toggle */
	.main-content-top nav {
		margin-right: 30px;
	}
	.sidebar {
		width: 40px;
		position: absolute;
		right: 0;
		background: #fff;
	}

	.sidebar > ul {
		display: none;
	}
	.nav-item {
		margin: 0px;
	}

	.menu-toggle {
		display: block;
		cursor: pointer;
		position: relative;
		z-index: 999;
		height: auto;
		margin-top: 30px;
	}

	.menu-toggle input {
		display: block;
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.menu-toggle span {
		display: block;
		background-color: var(--background-color-navy);
		width: 25px;
		height: 3px;
		margin: 5px 0;
		transition: all 0.3s ease-in-out;
	}
	.menu-toggle span:nth-of-type(1) {
		top: 0;
		transform-origin: 25% 50%;
		transition: 0.3s;
	}
	.menu-toggle span:nth-of-type(2) {
		top: calc(50% - 1px);
	}
	.menu-toggle span:nth-of-type(3) {
		bottom: 0;
		transform-origin: 25% 50%;
		transition: 0.3s;
	}

	.menu-toggle.active span:nth-of-type(1) {
		transform: rotate(45deg) translateX(20%);
	}
	.menu-toggle.active span:nth-of-type(2) {
		opacity: 0;
	}
	.menu-toggle.active span:nth-of-type(3) {
		transform: rotate(-45deg) translateX(20%);
	}
	.menu-toggle.active span {
		background: #fff;
	}

	.hamburger-menu {
		display: block;
		position: fixed;
		top: 0;
		/* background-color: var(--background-color-navy); */
		background-color: #fff;

		opacity: 0.9;
		padding: 10px;
		height: 100%;
		width: 100%;
		right: -100%;
		transform: scaleX(1);
		transition: all 1s ease 0.1s;
		z-index: 998;
	}
	.hamburger-menu > ul {
		position: absolute;
		top: 10%;
	}

	/* .hamburger-menu.active */
	.hamburger-menu.active {
		/* display: flex;
        flex-direction: column; */
		display: block;
		position: fixed;
		top: 0;
		right: 0%;
		transform: scaleX(1);
		background-color: var(--background-color-navy);
	}

	.hamburger-menu.active > ul {
		position: absolute;
		top: 10%;
	}
}
