* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
}

:root {
	--background-color: #e2f0fa;
	--text-color: #333333;
	--primary-color: #181c32;
	--success-color: #28a745;
	--danger-color: #dc3545;
	--secondary-color: #6c757d;
}

/* header */
.header {
	background-color: var(--background-color);
	color: white;

	padding: 15px;
	text-align: center;
}
.header .logo {
	width: 20%;
}

/* aside */
.container {
	margin-left: 0 !important;
	padding-left: 0 !important;
	display: flex;
	height: calc(100% - 60px);
	max-height: 85%;
}

.sidebar {
	width: 200px;
	background-color: var(--primary-color);
	padding: 20px 0px;
	color: #fff;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar li {
	margin: 10px 0;
	padding: 13px 33px 13px 20px;
	border-bottom: 1px solid #2e3b57;
}

.main-content {
	width: 80%;
	margin: 0 auto;
}

/* footer */

.footer {
	background-color: var(--background-color);
	color: var(--primary-color);

	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
}

button {
	border-radius: 20px;
	padding: 10px;
}

@media (max-width: 1024px) {
	.sidebar {
		width: 150px;
	}
}

@media (max-width: 768px) {
	.sidebar {
		width: 100px;
	}
}
