* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	/* font-family: "Noto Sans KR", sans-serif; */
	/* font-family: "Arial", sans-serif; */
	font-family: "Manjari", sans-serif;
	font-size: 14px;
	color: #5c5d5e;
}
table {
	font-size: 1em;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: unset;
}

button {
	padding: 8px 15px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}
/* button:hover {
	background-color: var(--primary-color);
	color: #fff;
} */

:root {
	--background-color: #e2f0fa;
	--text-color: #333333;
	--primary-color: #181c32;
	--success-color: #28a745;
	--danger-color: #dc3545;
	--secondary-color: #6c757d;
}

ul,
li {
	list-style: none;
}
/******************** Login ********************/

.body-login {
	background-color: #e2f0fa;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container-login {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
}

.container-login .logo {
	text-align: center;
	margin-bottom: 20px;
	color: red;
}
.login-form {
	display: flex;
	flex-direction: column;
}

.login-form input {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	width: 100%;
}

.remember-me {
	display: flex;
	align-items: top;
	margin-bottom: 15px;
}

.remember-me input {
	width: auto;
	margin-top: 6px;
	margin-right: 5px;
	margin-bottom: 30px;
}
.remember-me input[type="checkbox"] {
	display: inline-block;
}

.btn-login {
	padding: 10px;
	background-color: #181c32;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

/******************** font-awesome 아이콘 ********************/
.icon-magnifying-glass {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f002";
}

/******************** header ********************/

/* .header {
	background-color: var(--background-color);
	color: white;

	padding: 15px;
	text-align: center;
}
.header .logo {
	width: 20%;
} */

header {
	background-color: var(--primary-color);
	padding: 10px;
	position: relative;
}
header .header-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	margin: 0;
	font-size: 24px;
}

.logo {
	width: 15vw;
	min-width: 200px;
	max-width: 300px;
}

.logo img {
	width: 100%;
}

/******************** container 1 - aside ********************/
.container {
	margin-left: 0 !important;
	padding-left: 0 !important;
	display: flex;
	/* height: calc(100% - 60px);
	max-height: 85%; */
	min-height: 1000px;
}

.sidebar {
	position: relative;
	width: 23%;
	background-color: #1f1c2f;
	padding: 0px;
	color: #757989;
	font-size: 1rem;
}

.sidebar ul {
	list-style-type: none;
	/* padding: 0; */
	padding-top: 10px;
}

.sidebar li {
	/* margin: 10px 0; */
	padding: 20px 30px;
	/* border-bottom: 1px solid #181c32; */
	cursor: pointer;
}

.sidebar li.logo {
	padding: 20px 20px;
}
/* .sidebar > ul > li:hover,
.sidebar > ul > li.active {
	background-color: #a9aabc;
} */

.sidebar li i {
	/* float: right; */
	margin-top: 2px;
	margin-left: 5px;
}

.sub-list {
	display: none;
}
.sub-list > li {
	border: none;
	padding: 20px 25px;
}

span.sub-list-toggle {
	width: 100%;
	display: block;
}

/* aside toggle */
.sidebar-toggle {
	position: absolute;
	top: 0px;
	right: 0px;
	/* background-color: #f2f2f2;
	color: #333; */
	background: #181c32;
	color: #f2f2f2;
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: right 0.3s;
	margin-top: 5px;
	padding: 0px;
}
.sidebar-toggle.move {
	right: -40px;
	background: #181c32;
	color: #f2f2f2;
	margin-left: 0;
}
.sidebar-toggle.move:hover,
.sidebar-toggle:hover {
	background: #f2f2f2;
	color: #181c32;
}

.sidebar {
	transition: margin-left 0.3s;
}
.sidebar.collapsed {
	margin-left: -180px;
}

/******************** container2 - main ********************/

.main-content-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.main-content {
	flex-grow: 1;
	padding: 40px;
	overflow-y: auto;
	padding: 20px;
	background: #e8e8f2;
}

.main-content > div {
	background: #fff;
	margin: 10px;
	padding: 20px;
	border-radius: 8px;
}

/* main-content 에서 flex 로 상하 분할 */
.main-content-top {
	/* display: flex; */

	width: 100%;
	padding: 20px;

	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main-content-top nav ul {
	display: flex;
	flex-direction: row;
}
.main-content-top nav ul li {
	padding: 10px;
	color: #848993;
}

.main-content-top h3 {
	display: inline-block;
	color: #3b3f47;
}
.main-content-top h3 span {
	font-size: 0.7em;
	color: #b4b8bf;
}
.main-content-top nav svg {
	color: #4192df;
}
/* main-header */
.main-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
	background: none;
}

.main-header-firstLine {
	display: flex;
	flex-direction: row;

	width: 100%;
	justify-content: space-between;
	margin-bottom: 25px;
}
.main-header-firstLine h3 {
	display: inline-block;
	color: #3b3f47;
}
.main-header-firstLine h3 span {
	font-size: 0.7em;
	color: #b4b8bf;
}
.main-header-firstLine button {
	padding: 8px 15px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}
.main-header-firstLine button.add-user,
.save-user {
	background: #e1f1ff;
	color: #4c91d7;
	border: none;
}

.main-header-firstLine button.delete-user,
.cancel-user {
	background: #fee3e5;
	color: #f44d5f;
	border: none;
}
.main-header-firstLine button.download-user,
.validate-userId {
	background: #c7f8f5;
	color: #19c5bb;
	border: none;
}
.search-bar {
	/* margin-left: auto; */
	display: flex;
	align-items: center;
	width: 50%;
	height: 2.5em;
}

.category-select,
.search-input {
	/* margin-left: 10px; */
	border: 1px solid #f3f3f2;
	padding: 4px;
	border-radius: 5px;
}

.search-input {
	padding: 5px;
}

.search-button {
	margin-left: 10px;
	background: #e1f1ff;
	color: #4c91d7;
	border: 1px solid #dfeefc;
}
::placeholder {
	color: #c2c7c7;
}

/******************** form ********************/

/* table  */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	color: #5c5d5e;
}

textarea {
	border: none;
}
th,
td {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	text-align: left;
	height: 4em;
}
th {
	color: #b5b5b8;
	font-weight: bold;
	border-top: none;
	font-size: 0.9em;
}

/* 커스텀 input type="file" */
td.add-file {
	display: flex;
	align-items: center;
}
/*  커스텀 input type file
td.add-file .upload-name {
	display: inline-block;
	padding: 0 8px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 35%;
	color: #6c716e;
}
버튼
td.add-file label {

	display: inline-block;
	padding: 8px 15px;
	border-radius: 5px;
	margin-left: 5px;
	font-weight: bold;
	font-size: 0.9em;
	background: #c7f8f5;
	color: #19c5bb;
	cursor: pointer;
} */

.classify-contents {
	min-width: 100px;
	background: none;
}

td.radio {
	display: flex;
	align-items: center;
	margin: 0 auto;

	border-top: none;
	border-left: none;
}
td.radio input {
	margin-right: 3px;
}

.form-select {
}
form input {
	width: 35%;
}
form .form-select,
form input {
	border: 1px solid #ddd;
	border-radius: 5px;
}

.form-btn {
	margin-left: 5px;
}
/* input, select  */
input,
select {
	width: 100%;
	height: 100%;
	/* border: 1px solid #ddd; */
	/* padding: 5px; */
}
select {
	width: 18%;
	border: 1px solid #ccc;
}
select option {
	font-size: 0.8em;
}

input[type="radio"] {
	display: inline-block;
	width: auto;
}

input#userId {
	display: inline-block;
}
label {
	/* margin-right: 10px; */
}

/******************** 체크박스 스타일 변경 ********************/
/* 체크박스 -- 기본 타입 */
/* input[type="checkbox"] {
	width: 18px;
	background: #ecedf4;
	border: none;
} */

input[type="checkbox"] {
	display: none;
}

.custom-checkbox {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #ecedf4;

	border-radius: 4px;
	position: relative;
	cursor: pointer;
}

/* 박스 checked */
input[type="checkbox"]:checked + .custom-checkbox {
	background-color: #4caf50;
	border-color: #4caf50;
}

/* 체크 */
.custom-checkbox:after {
	border: 1px soid red;
	content: "";
	position: absolute;
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}

input[type="checkbox"]:checked + .custom-checkbox:after {
	opacity: 1;
}

select {
	/* margin-right: 5px; */
	width: 35%;
	color: #6c716e;
}

.btn-wrap {
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
}

/******************** list-table ********************/

.list-table {
	width: 100%;
	border-collapse: collapse;
}

.list-table th,
.list-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.list-table th {
	background-color: #f2f2f2;
}

.list-select {
	width: 40%;
}

#item-list {
	margin-bottom: 20px;
}

.item {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

#pagination {
	text-align: center;
	margin: 40px 0;
	/* font-size: 0.65rem; */
}

#pagination ul {
	list-style-type: none;
	padding: 0;
}

#pagination ul li {
	display: inline;
	margin: 0 1px;
	padding: 3px 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	background-color: #f0f0f0;
	color: #333;
}
#pagination a {
	color: #b5b5b8;
}

/******************** editor ********************/
/* froala  */
#editor {
	/* border: 1px solid #ccc; */
	min-height: 500px !important;
	background-color: #fff;
}

/* 하단 powered by froala 글자 삭제 */
#fr-logo {
	display: none !important;
}
.fr-quick-insert {
	display: none !important;
}

/* editor 내용 넣는 박스 */
.fr-box.fr-basic .fr-element {
	height: 500px;
}
.fr-box.fr-basic .fr-wrapper {
	border-bottom-color: #fff !important;
}

#smart_editor2 {
	width: auto !important;
}

/******************** footer ********************/

.footer {
	color: var(--background-color);
	background-color: var(--primary-color);

	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
}

@media (max-width: 1024px) {
	.sidebar {
		width: 150px;
	}

	.main-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.search-bar {
		margin-top: 10px;
	}
}

@media (max-width: 768px) {
	.sidebar {
		width: 100px;
	}

	.main-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.search-bar {
		flex-direction: column;
	}

	.search-input,
	.category-select,
	.search-button {
		margin-left: 0;
		margin-top: 5px;
	}
}
