@import url(layout.css);

/***************************************
main
***************************************/

/* main - banner */
.banner-container {
    max-width: 1200px;
    margin: 0 auto;
}

#main-banner {
    background-image: url("https://via.placeholder.com/1500x600");
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#main-banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#main-banner p {
    font-size: 18px;
    /* margin-bottom: 30px; */
}

/* contents */

/* 콘텐츠 컨테이너 스타일 */
#contents {
    flex-direction: column;
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto;
}
#contents p {
    text-align: center;
    padding: 20px;
}

#contents-list {
    flex-wrap: wrap;
    justify-content: normal;
    width: 80%;
    max-width: 1200px;
    margin: 20px 0 0;
    gap: 1.4em;
}
#contents h2 {
    display: block;
}
#contents h3 {
    display: inline-block;
    max-width: 80%;
}

/* 콘텐츠 리스트 스타일 */
.contents-list {
    width: 23%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* flex: 1; */
    max-width: 300px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contents-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* 콘텐츠 썸네일 스타일 */
.cont-thumb {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #ddd;
}

/* 이름 스타일 */
.name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/***************************************
article
***************************************/
/* list.php */
#article {
    flex-direction: column;
    padding: 60px;
}
#article p {
    text-align: center;
    padding: 20px;
}

#article-each {
    flex-wrap: wrap;
    width: 70%;
    max-width: 900px;
    gap: 1.4em;
}
#article-each h2 {
    display: block;
}

/* 리스트 스타일 - .contents-list 에 추가 */
.article-each {
    width: 48%;
    max-width: unset;
}

/* 리스트 썸네일 스타일 - .cont-thumb 에 추가 */
.article-thumb {
    width: 200px;
    height: 200px;
}

/* media query */
@media screen and (max-width: 1200px) {
    /***************************************
    main
    ***************************************/
    /* main - content */
    .content-section {
        flex-direction: column;
    }
    section#contents {
        width: 80%;
        padding: 60px 0;
    }
    section#contents h3,
    section#contents h2 {
        text-align: center;
    }
    #contents-list {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
    }
    #contents-list .contents-list {
        min-width: 47%;
    }

    .cont-thumb {
        width: 50%;
    }

    /***************************************
    article
    ***************************************/

    #article-each {
        /* flex-direction: column; */
        width: 100%;
    }

    .article-each {
        min-width: 300px;
    }

    .article-thumb {
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (max-width: 768px) {
    /***************************************
    main
    ***************************************/
    /* main - content */
    section#contents {
        width: 90%;
    }

    #contents-list,
    #article-each {
        flex-direction: column;
    }

    #contents-list .contents-list {
        min-width: unset;
        width: 100%;
    }

    /***************************************
    article
    ***************************************/
    #article p {
        padding: 20px 0;
    }

    .article-each {
        min-width: unset;
        width: 100%;
        max-width: 300px;
    }

    .article-each a {
        margin: 0 auto;
    }

    .article-thumb {
        width: 30vw;
        height: 30vw;
    }

    .name {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .article-each {
        max-width: unset;
    }
}
