:root {
	--background-color: #e2f0fa;
	--text-color: #333333;
	--primary-color: #181c32;
	--success-color: #28a745;
	--secondary-color: #6c757d;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

button {
	display: inline-block;
	padding: 10px 20px;
	background: #f0f0f0;
	color: #333;
	border: 1px solid #ddd;
	cursor: pointer;
}

.main-content {
	flex-grow: 1;
	padding: 40px;
	overflow-y: auto;
}

.main-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
	background: none;
}
.add-content {
}

.search-bar {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.category-select,
.search-input {
	margin-left: 10px;
	border: 1px solid #ddd;
	padding: 4px;
}

.search-input {
	padding: 5px;
}

.search-button {
	margin-left: 10px;
	padding: 4px 10px;
}

.content-table {
	width: 100%;
	border-collapse: collapse;
}

.content-table th,
.content-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.content-table th {
	background-color: #f2f2f2;
}

button {
	border-radius: 10px;
	padding: 10px;
}
button:hover {
	background-color: var(--primary-color);
	color: #fff;
}

#item-list {
	margin-bottom: 20px;
}

.item {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

#pagination {
	text-align: center;
	margin: 50px 0;
	font-size: 0.8rem;
}

#pagination ul {
	list-style-type: none;
	padding: 0;
}

#pagination ul li {
	display: inline;
	margin: 0 5px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	background-color: #f0f0f0;
}

#pagination ul li:hover {
	background-color: var(--primary-color);
}
#pagination ul li:hover a {
	color: #fff;
}

#pagination ul li:nth-of-type(1),
#pagination ul li:nth-of-type(2),
#pagination ul li:nth-of-type(5),
#pagination ul li:nth-of-type(6) {
	display: none;
}

@media (max-width: 1024px) {
	.main-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.search-bar {
		margin-top: 10px;
	}
}

@media (max-width: 768px) {
	.main-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.search-bar {
		flex-direction: column;
	}

	.search-input,
	.category-select,
	.search-button {
		margin-left: 0;
		margin-top: 5px;
	}
}
