@charset "UTF-8";

/* root style */
:root {
    --background-color-navy: #181c32;
    --background-color-skyblue: #e2f0fa;
    --font-blue: #3437ee;
}

/* Reset styles */

* {
    margin: 0;
    padding: 0;
    border: none 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
html {
    width: 100%;
    /* height: 100%; */
}

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

form {
    width: 100%;
}

input {
    background-color: #eee;
    border: none;
    outline: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

input::placeholder {
    color: #bbb;
}

ul,
li,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

a {
    display: inline-block;
}

h1 {
    font-size: 2em;
}

/* 사용자 정의 스타일 */
/* display - flex 스타일 */
.flex_SB_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* color - blue */
.font_blue {
    color: var(--font-blue);
}

/* padding */
.padd10 {
    padding: 10px;
}

.padd20 {
    padding: 20px;
}
.padd0-20 {
    padding: 0 20px;
}
.padd20-0 {
    padding: 20px 0;
}
.padd20-10 {
    padding: 20px 10px;
}

.padd30 {
    padding: 30px;
}
.padd60 {
    padding: 60px;
}
.padd0-60 {
    padding: 0 60px;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: var(--background-color-navy);
    color: #fff;
    z-index: 999;
}

header .header-container {
    height: 100%;
}

header + section {
    min-height: 81vh;
}

/* logo */
.logo {
    width: 15vw;
    min-width: 150px;
    max-width: 300px;
    max-height: 90px;
}

/* menu */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
nav ul li:first-child {
    padding-right: 20px;
    border-right: 2px solid #fff;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* mobile menu */
.signup {
    display: none;
    position: relative;
    right: -100%;
    height: 80px;
    line-height: 80px;
    padding-left: 10px;
}

.menu-toggle {
    display: none;
    height: 100%;
}

.menu-toggle input {
    display: none;
}

.menu-toggle span {
    background-color: #fff;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--background-color-navy);
    padding: 10px;
}

.hamburger-menu li {
    padding: 10px;
    padding-right: 0;
    cursor: pointer;
    word-break: break-all;
}
/* .hamburger-menu li:first-child {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
    vertical-align: top;
} */

/* footer */
footer {
    background-color: var(--background-color-navy);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}
footer a {
    color: #fff;
}

/* media query */
@media screen and (max-width: 480px) {
    .padd60 {
        padding: 0;
    }

    header {
        height: 100px;
    }

    nav ul {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 999;
        height: auto;
    }

    .menu-toggle input {
        display: block;
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .menu-toggle span {
        display: block;
        background-color: #fff;
        width: 25px;
        height: 3px;
        margin: 5px 0;
        transition: all 0.3s ease-in-out;
    }
    .menu-toggle span:nth-of-type(1) {
        top: 0;
        transform-origin: 25% 50%;
        transition: 0.3s;
    }
    .menu-toggle span:nth-of-type(2) {
        top: calc(50% - 1px);
    }
    .menu-toggle span:nth-of-type(3) {
        bottom: 0;
        transform-origin: 25% 50%;
        transition: 0.3s;
    }

    .menu-toggle.active span:nth-of-type(1) {
        transform: rotate(45deg) translateX(20%);
    }
    .menu-toggle.active span:nth-of-type(2) {
        opacity: 0;
    }
    .menu-toggle.active span:nth-of-type(3) {
        transform: rotate(-45deg) translateX(20%);
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        top: 0;
        background-color: var(--background-color-navy);
        opacity: 0;
        padding: 10px;
        height: 100%;
        width: 100%;
        right: -100%;
        transform: scaleX(1);
        transition: all 0.8s ease 0.1s;
    }
    .signup {
        display: block;
        z-index: 900;
        right: 100%;
        right: 0;
    }
    .hamburger-menu ul {
        position: absolute;
        top: 100px;
        /* left: 0; */
        right: 0;
        width: 100%;
        /* margin: 0 10px; */
        padding: 10px;
        border-top: 2px solid #fff;
    }

    /* .hamburger-menu.active */
    .hamburger-menu.active {
        opacity: 1;
        right: 0%;
    }
}
