@import url(layout.css);

/***************************************
member
***************************************/

.member-wrap {
    background-color: #e2f0fa;
    color: #181c32;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans KR", sans-serif;
    height: 100vh;
    /* margin: -20px 0 50px; */
}

.member-wrap button {
    width: 100%;
    border-radius: 4px;
    background-color: #181c32;
    color: #ffffff;
    font-size: var(--font-size--normal);
    font-weight: bold;
    padding: 12px 45px;
    margin: 20px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
    transition: transform 80ms ease-in;
}

.member-wrap button:active {
    transform: scale(0.95);
}

.member-wrap button:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    /* min-height: 400px; */
    margin: 0 auto;
    transition: all 0.6s ease-in-out;
}

.member-wrap .logo {
    width: 25%;
    margin: 20px 0;
}

.member-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}

/***************************************
main
***************************************/

/* main - banner */
.banner-container {
    max-width: 1200px;
    margin: 0 auto;
}

#main-banner {
    background-image: url("https://via.placeholder.com/1500x600");
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    /* margin-top: 120px; */
    /* position: relative; */
}

#main-banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#main-banner p {
    font-size: 18px;
    /* margin-bottom: 30px; */
}

/* contents */

/* 콘텐츠 컨테이너 스타일 */
#contents {
    flex-direction: column;
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto;
}
#contents p {
    text-align: center;
    padding: 20px;
}

#contents-list {
    flex-wrap: wrap;
    justify-content: normal;
    width: 80%;
    max-width: 1200px;
    margin: 20px 0 0;
    gap: 1.4em;
}
#contents h2 {
    display: block;
}
#contents h3 {
    display: inline-block;
    max-width: 80%;
}

/* 콘텐츠 리스트 스타일 */
.contents-list {
    width: 23%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* flex: 1; */
    max-width: 300px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contents-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* 콘텐츠 썸네일 스타일 */
.cont-thumb {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #ddd;
}

/* 이름 스타일 */
.name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/***************************************
article
***************************************/
/* list.php */
#article {
    flex-direction: column;
}
#article p {
    text-align: center;
    padding: 20px;
}

#article-each {
    flex-wrap: wrap;
    width: 70%;
    max-width: 900px;
    gap: 1.4em;
}
#article-each h2 {
    display: block;
}

/* 리스트 스타일 - .contents-list 에 추가 */
.article-each {
    width: 48%;
    max-width: unset;
}

/* 리스트 썸네일 스타일 - .cont-thumb 에 추가 */
.article-thumb {
    width: 200px;
    height: 200px;
}

/* node.php */
#article-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 0;
}

#article-node div {
    min-height: 400px;
}
.cont_left {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cont_left img {
    width: 70%;
}

.cont_right {
    width: 90%;
    height: 100%;
    line-height: 2;
    font-size: 1em;
    /* padding: 50px 0; */
}
.cont_right h1 {
    font-size: 2em;
    font-weight: 900;
    line-height: 1.7;
}
.cont_right p {
    font-size: 1.1em;
    line-height: 1.4;
    text-align: left;
    padding: 0;
}

.cont_description {
    margin-top: 40px;
}

.cont_description p {
    font-size: 1em;
    font-weight: 900;
    line-height: 2.5;
    letter-spacing: -0.7px;
    margin-bottom: 10px;
}

.cont_description span {
    font-size: 0.9em;
    /* line-height: ; */
    letter-spacing: -0.7px;

    display: block;
}

#reaction-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.react_area {
    width: 100%;
    /* height: 35px; */
    border-top: 1px solid #eee;
}

.react_area img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    vertical-align: middle;
}

.comment_box {
    display: none;
}

.comment_box.show {
    display: flex;
}

.comment_box span {
    margin-right: 10px;
}

.comment_box span.c_name {
    font-weight: 900;
}

.comment_box span.delete {
    /* width: 5%; */
    padding: 0 1em;
    text-align: right;
    margin-left: auto;
}

.btn_more {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    font-size: 1em;
    line-height: 2;
}

.btn_fold {
    display: none;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    font-size: 1em;
    line-height: 2;
}

.enter_c_box {
    width: 100%;
    /* max-height: 80px; */
    border-top: 1px solid #ddd;
    /* display: flex; */
}

textarea {
    width: 90%;
    line-height: 1;
    font-size: 1em;
    border: 0;
    outline: 0;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea::placeholder {
    color: #aaa;
}

.enter_c_box button {
    width: 10%;
    font-weight: 900;
    font-size: 1em;
    color: #aaa;
}

.btn_chat.on {
    color: black;
}

/* media query */
@media screen and (max-width: 1200px) {
    /***************************************
    main
    ***************************************/
    /* main - content */
    .content-section {
        flex-direction: column;
    }
    section#contents {
        width: 80%;
        padding: 60px 0;
    }
    section#contents h3,
    section#contents h2 {
        text-align: center;
    }
    #contents-list {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
    }
    #contents-list .contents-list {
        min-width: 47%;
    }

    .cont-thumb {
        width: 50%;
    }

    /***************************************
    article
    ***************************************/

    #article-each {
        /* flex-direction: column; */
        width: 100%;
    }

    .article-each {
        min-width: 300px;
    }

    .article-thumb {
        width: 20vw;
        height: 20vw;
    }

    .cont_left img {
        min-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    /***************************************
    main
    ***************************************/
    /* main - content */
    section#contents {
        width: 90%;
    }

    #contents-list,
    #article-each {
        flex-direction: column;
    }

    #contents-list .contents-list {
        min-width: unset;
        width: 100%;
    }

    /***************************************
    article
    ***************************************/
    #article p {
        padding: 20px 0;
    }

    .article-each {
        min-width: unset;
        width: 100%;
        max-width: 300px;
    }

    .article-each a {
        margin: 0 auto;
    }

    .article-thumb {
        width: 30vw;
        height: 30vw;
    }

    .name {
        font-size: 1rem;
    }

    /* node */
    #article-node {
        flex-direction: column;
        align-items: center;
    }
    #article-node div {
        min-height: unset;
        width: 100%;
    }
    .cont_left {
        width: 50%;
        margin: 0 auto;
        border-radius: 0;
        border: 0;
        box-shadow: none;
    }

    .cont_right {
        /* background-color: #f5f5f5; */
        padding: 40px 30px;
    }
}

@media screen and (max-width: 480px) {
    /* member */
    .member-container {
        padding: 0 20px;
    }

    /* article */
    .article-each {
        max-width: unset;
    }
}
